src/main/mule/azure-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f63bbd8f-0a00-43b0-92ba-3403e75a3df3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="azure-cicdFlow" doc:id="23ea9c5c-9932-423b-8708-9e63ea249d17" >
		<http:listener doc:name="Listener" doc:id="0092511d-e423-4c7c-aa64-397aaa947ac6" config-ref="HTTP_Listener_config" path="azure"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4690a27b-586f-499d-81d7-3317ae7297c6" />
		<logger level="INFO" doc:name="Logger" doc:id="2a6e4b4e-d40a-4d24-8414-be5604c673b4" message="cicd pipeline connection established!!!"/>
	</flow>
</mule>
